body {
  background: #0e1330;
}
audio {
  width: 100％;
}
.main {
  max-width: 500px;
  margin: auto;
  text-align:center;
}
.title {
  margin: 1em;
  cursor: pointer;
  border-bottom:1px solid #555555;
  color: #cccccc;
}
#img {
   height: 300px;
   width: auto;
}
#list {
  font-size: 1.5em;
  margin: 0.5em;
}
